<% provide(:title, "Log in") %>
<div class="container">
<h1>Entrar</h1>
<div class="row">
<div class="col-md-6 col-md-offset-3">
<%= form_for(:session, url: login_path) do |f| %>
<%= f.label :email %>
<%= f.email_field :email, class: 'form-control' %>
<%= f.label :password, "Senha" %>
<%= f.password_field :password, class: 'form-control margin-bottom' %>
<%= f.submit "Entrar", class: "btn btn-primary" %>
<% end %>
<!--<p>New usser? <%#= link_to "Sign up now!", signup_path %></p> -->
</div>
</div>
</div>