<div class="container">
<% provide(:title, 'Editar Usuário') %>
<h1>Editar Usuário</h1>
<div class="row">
<div class="col-md-6 col-md-offset-3">
<%= form_for(@user) do |f| %>
<%= render 'error_messages' %>
<%= f.label :name %>
<%= f.text_field :name, class: 'form-control' %>
<%= f.label :email %>
<%= f.email_field :email, class: 'form-control' %>
<%= f.label :password, "Senha" %>
<%= f.password_field :password, class: 'form-control' %>

<%= f.label :password_confirmation, "Confirmar senha" %>
<%= f.password_field :password_confirmation, class: 'form-control margin-bottom' %>

<% if current_user.role_id == 4 %>
  <div class="field">
    <%= f.label :department_id, "Departamento" %>
    <%= f.collection_select(:department_id, Department.all, :id, :name, :include_blank => true) %>
  </div>
  
   <div class="field">
    <%= f.label :role_id, "Perfil" %>
    <%= f.collection_select(:role_id, Role.all, :id, :name) %>
  </div>
  <% else %>
<% end %>

<%= f.submit "Atualizar Cadastro", class: "btn btn-primary" %>
<% end %>
</div>
</div>

</div>