<% provide(:title, 'All users') %>
<div class="container">
<h1>Usuários Cadastrados</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
    
      <%= link_to user.name, user %>
      <% if current_user.role_id == 4 && !current_user?(user) %>
         | <%= link_to "Editar", edit_user_path(user) %> | 
        <%= link_to "Excluir", user, method: :delete, data: { confirm: "Tem certeza?" } %>
      <% end %>

    </li>
  <% end %>
</ul>
</div>