
<% provide(:title, 'Cadastrar Usuário') %>
<div class="container">
<h1>Cadastrar Usuário</h1>
<div class="row">
<div class="col-md-5 col-md-offset-3">
<%= form_for(@user) do |f| %>
<%= render 'error_messages' %>
<%= f.label :name, "Nome" %>
<%= f.text_field :name, class: 'form-control' %>
<%= f.label :email %>



<%= f.email_field :email, class: 'form-control' %>
<%= f.label :password, "Senha" %>
<%= f.password_field :password, class: 'form-control' %>

<%= f.label :password_confirmation, "Confirmar senha" %>
<%= f.password_field :password_confirmation, class: 'form-control' %>

<div class="field">
    <%= f.label :department_id, "Unidade" %>
    <%= f.collection_select(:department_id, Department.all, :id, :name, :include_blank => true) %>
  </div>


   <div class="field">
    <%= f.label :role_id, "Perfil" %>
    <%= f.collection_select(:role_id, Role.all, :id, :name, :selected => 'registered') %>
  </div>

<%= f.submit "Cadastrar Usuário", class: "btn btn-primary" %>
<% end %>
</div>
</div>

</div>