<li>
  <%= link_to department.name, department %>  
  
  <%# if current_user.admin? && !current_user?(user) %>
    <%= link_to "Apagar", department,  method: :delete, data: { confirm: "Tem certeza?" } %>
  <%# end %>
</li>
