<%= form_for(@department) do |f| %>
      <%# render 'shared/error_messages', object: f.object %>
      <%= f.label :name, "Nome" %>
        <%= f.text_field :name, { class: 'form-control' } %>
        <%= f.submit "Gravar", class: "margin-top btn btn-primary" %>
      <% end %>