<div class ="container">
  <h1>Editar Unidade</h1>
</div>

<div class="row">                                                                                                                                                                               
  <div class="col-md-3 col-md-offset-4">                                                                                                                                                        
    <%= render 'form' %>
  </div>
</div>
