<div class="container">
  <h1>Unidades</h1>
  <ul class="departments">
    <% @departments.each do |department| %>
      <li>
        <%= link_to department.name, department %>
        <% if current_user.role_id == 4 %>
             | <%= link_to "Editar", edit_department_path(department) %> 
          <%#= link_to "Excluir", department, method: :delete, data: { confirm: "Tem certeza?" } %>
        <% end %>
      </li>
    <% end %>
  </ul>
  
</div>