<div class="container">


  <div class="row">
    <%= search_form_for @search do |f| %>
    
    <%#= f.search_field :created_at_gteq, 'datepicker' => true  %>
    <div class="col-md-8">
      <div class="order-table table form-group form-inline margin-top margin-bottom">                
        <%= f.label :created_at_gteq, "Criado Entre" , class: 'control-label ' %>
      <%= f.text_field :created_at_gteq, class: 'form-control datetimepicker4 ' %>
      <%= f.label :created_at_lteq, "e" %>
      <%= f.search_field :created_at_lteq, class: 'form-control datetimepicker4' %>
      <%= f.submit "Filtrar Datas" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
  
<div class="container text-right">
<p>
  Download:
  <%= link_to "CSV", tickets_path(format: "csv") %> |
  <%= link_to "Excel", tickets_path(format: "xls") %>
</p>
</div>
<div class="container">
  
	<div class="row">
		<div class="span5">
		  <!-- <input type="text" id="search" placeholder="Digite para filtrar"> -->
      
      <table id="mytable" class="table table-striped table-condensed">

        <thead>
          <tr>
            <th>N° Requisição</th>
            <th>Data</th>
            <th>Unidade</th>
            <th>Origem</th>
            <th>Início</th>
            <th>Destino</th>
            <th>Retorno</th>
            <th>Motorista</th>
            <th>Diárias</th>
            <th>Total</th>
            <th>Status</th>
          </tr>
        </thead>
  <tbody>
  <!-- <tbody data-update-url="<#%= sort_tickets_url %>"> -->
        <% @tickets.each do |ticket| %>
          <tr>
            <td><%= ticket.id %>
              <%# if can? :update, @article %>
              <% if current_user.role_id == 4 %>
                <%= link_to "Editar", edit_ticket_path(ticket) %> | 
                <%= link_to "Excluir", ticket, method: :delete,
                      data: { confirm: "Tem certeza?" } %>
              <% end %>
              <% if current_user?(ticket.user) && current_user.role_id == 3 %>
                <%#= link_to "Excluir", ticket, method: :delete,                       data: { confirm: "Tem certeza?" } %>
                | <%= link_to "Excluir", ticket, method: :delete, data: { confirm: "Tem certeza?" } %>
              <% end %>
            </td>
            <td><%= ticket.created_at.strftime("%d/%m/%Y") %></td>    
            <%#= link_to "Apagar", ticket,  method: :delete, data: { confirm: "Tem certeza?" } %>
            <% if ticket.user.department.nil? %>
              <td></td>
              <% else %>
                <td><%= ticket.user.department.name %></td>
              <% end %>
            <td><%= ticket.origin_city_id %> - <%= ticket.origin_id %></td>
            <td><%= ticket.start_date.strftime("%d/%m/%Y %H:%M")  %></td>
            <td><%= ticket.destination_city_id %> - <%= ticket.destination_id %> </td>
            <td><%= ticket.return_date.strftime("%d/%m/%Y %H:%M") %></td>
            <td><%= ticket.try(:driver).try(:name) %></td>
            <td><%= ticket.rate %></td>
            <%#= ticket.price.number_to_currency(9.99, :separator => ",", :delimiter => ".", :unit => "R$") %>
            <td><%= number_to_currency(ticket.price, :unit => "R$ ", :separator => ",", :delimiter => ".")%></td>

            <% if ticket.status == 'Aberto' %>
              <td><span class="label label-danger"><%= ticket.status %></span></td>
              <% elsif ticket.status == 'Analisando' %>
                <td><span class="label label-warning"><%= ticket.status %></span></td>
                <% else %>
                <td><span class="label label-success"><%= link_to ticket.status, 
                    ticket, {style: "color: white"} %></span></td>
                
              <% end %>
          </tr>
        <% end %>
    </tbody>

    </div>
	</div>
</div>