<script type="text/javascript">
  $(function () {
    $('.datetimepicker1').datetimepicker({
      defaultDate: "<%= @ticket.start_date %>",
      format: "DD-MM-YYYY HH:mm"
    });
  });
  
    $(function () {
    $('.datetimepicker2').datetimepicker({
      defaultDate: "<%= @ticket.return_date %>",
      format: "DD-MM-YYYY HH:mm"
    });
  });

</script>

<%= form_for (@ticket) do |f| %>
  
  <div class="col-md-6 col-md-offset-3 well">
  
    <%= f.label :driver_id, "Motorista" %>
    <%= f.collection_select(:driver_id, Driver.all, :id, :name, {:include_blank => true}, {:class=> "form-control margin-bottom"}) %>
  
      
    <div class="row">
      <div class="col-md-6">    
        <%= f.label :origin_id, "Origem"%>
        <%= f.collection_select(:origin_id, State.all, :symbol, :name, {:include_blank => true}, {:class=> "jstates form-control "}) %>
      </div>
      <div class="col-md-6">
        <%= f.label :origin_city_id, "Cidade"%>
        <%= f.grouped_collection_select :origin_city_id, State.order(:name), :cities, :name, :name, :name, {include_blank: true}, {:class=> "jcities form-control "} %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">          
        <%= f.label :destination_id, "Destino" %>
        <%= f.collection_select(:destination_id, State.all, :symbol, :name, {:include_blank => true}, {:class=> "form-control jstates"}) %>
      </div>
      <div class="col-md-6">          
        <%= f.label :destination_city_id, "Cidade" %>
        <%= f.grouped_collection_select :destination_city_id, State.order(:name), :cities, :name, :name, :name, {include_blank: true}, {:class=> "jcities form-control margin-bottom"} %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <%= f.label :start_date, "Saída" %>
        <%#= f.datetime_select :start_date, {:minute_step => 10}, {:id => 'datetimepicker'} %>
        <%#= f.text_field :start_date, { :class=> "form-control", :id=>"datetimepicker3"} %>
        <%= f.text_field :start_date, { :class=> "form-control datetimepicker1"} %>
      </div>
      <div class="col-md-6">
        <%= f.label :return_date, "Retorno" %>
        <%#= f.datetime_select :return_date, :minute_step => 10 %>
        <%= f.text_field :return_date, { :class=> "form-control datetimepicker2" } %>
      </div>
    </div>

    <%= f.label :Mensagem %>
    <%= f.text_area :annotation, class: "form-control", style: "height:300x" %>
    
    <div class="row">
      <div class="col-md-6">   
        <%= f.label :rate, "Qtd. Diárias"%>
        <%= f.text_field :rate, class: "form-control"%>
      </div>
      <div class="col-md-6">   
        <%= f.label :price, "Valor"%>
        <%= f.text_field :price, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">   
      <%= f.label :status %>
      <%= f.select :status, ['Aberto', 'Analisando',  'Pago'], {}, {:class=> "form-control margin-bottom"} %>
      </div>
    <div class="col-md-8">
      <%= f.submit "Confirmar Mudanças", class: "btn btn-primary form-control margin-top" %>
    </div>
    <% end %>
  
</div>