<script type="text/javascript">
            
  $(function () {
    $('.datetimepicker4').datetimepicker({
      format: "L"
    });
  });

</script>

<h1 class="text-center">Controle de Requisição</h1>

<% if current_user.role_id == 4 %>
  <%= render 'admin' %>
  <% else %>
  <%= render 'editor' %>
<% end %>