<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">N° Requisição</Data></Cell>
        <Cell><Data ss:Type="String">Data</Data></Cell>
        <Cell><Data ss:Type="String">Unidade</Data></Cell>
        <Cell><Data ss:Type="String">Origem</Data></Cell>
        <Cell><Data ss:Type="String">Saída</Data></Cell>
        <Cell><Data ss:Type="String">Destino</Data></Cell>
        <Cell><Data ss:Type="String">Retorno</Data></Cell>
        <Cell><Data ss:Type="String">Motorista</Data></Cell>
        <Cell><Data ss:Type="String">Diárias</Data></Cell>
        <Cell><Data ss:Type="String">Total</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>
      </Row>

<% @tickets.each do |ticket| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= ticket.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ticket.created_at.strftime("%d/%m/%Y") %></Data></Cell>
        <% if ticket.user.department.nil? %>
          <Cell><Data ss:Type="String"></Data></Cell>
          <% else %>
            <Cell><Data ss:Type="String"><%= ticket.user.department.name %></Data></Cell>
        <% end %>
        <Cell><Data ss:Type="String"><%= ticket.origin_city_id %> - <%= ticket.origin_id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ticket.start_date.strftime("%d/%m/%Y %H:%M") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ticket.destination_city_id %> - <%= ticket.destination_id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ticket.return_date.strftime("%d/%m/%Y %H:%M") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ticket.try(:driver).try(:name) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ticket.rate %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ticket.price %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ticket.status %></Data></Cell>
            
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
        
