<% if @ticket.status == 'Pago' %>



<style type="text/css">
a { color: black;text-decoration: none; } 
a:hover { color: black;text-decoration: none; }
th a { display: block; }
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:2px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-yw4l{vertical-align:top}
</style>

  <div class="container margin-top">
    <% if @ticket.deleted_at? %>
    Requisição Apagada! 
    <li><%= link_to "VOLTAR <<", new_ticket_path %></li>
    <% else %>
  <table class="tg" width="700" border="2">
    
      <th class="tg-yw4l" colspan="2"><!--<a href="https://diarias-mohloko.c9users.io/">-->REQUISIÇÃO DE VIAGEM <!--</a>--><b>NO. <%= @ticket.id %></b></th>
      <th class="tg-yw4l" colspan="2">Data da Solicitação <%= @ticket.created_at.strftime("%d/%m/%Y") %></th>
    </tr>
    <tr>
      <td class="tg-yw4l" colspan="4"><b>Dados do Motorista</b></td>
    </tr>
    <tr>
      <td class="tg-yw4l" colspan="3"> Motorista: <%= @ticket.driver.name %></td>
      <td class="tg-yw4l">CPF: <%= @ticket.driver.cpf %></td>
    </tr>
    <tr>
      <% if @ticket.user.department.nil? %>
        <td class="tg-yw4l" colspan="4">Unidade Requisitante: --- </td>
        <% else %>
          <td class="tg-yw4l" colspan="4">Unidade Requisitante: <%= @ticket.user.department.name %></td>
        <% end %>
    </tr>
    <tr>
      <td class="tg-yw4l">Banco: <%= @ticket.driver.banco %></td>
      <td class="tg-yw4l">Agência: <%= @ticket.driver.agencia %></td>
      <td class="tg-yw4l">Conta: <%= @ticket.driver.conta %></td>
      <td class="tg-yw4l">Tipo Op: <%= @ticket.driver.operation %></td>
    </tr>
    <tr>
      <td class="tg-yw4l" colspan="4"><b>Dados da Viagem</b></td>
    </tr>
    <tr>
      <td class="tg-yw4l" colspan="2">Início da Viagem: <%= @ticket.start_date.strftime("%d/%m/%Y %H:%M") %></td>
      <td class="tg-yw4l" colspan="2">Origem: <%= @ticket.origin_city_id %> - <%= @ticket.origin_id %></td>
    </tr>
    <tr>
      <td class="tg-yw4l" colspan="2">Fim da Viagem: <%= @ticket.return_date.strftime("%d/%m/%Y %H:%M") %></td>
      <td class="tg-yw4l" colspan="2">Destino: <%= @ticket.destination_city_id %> - <%= @ticket.destination_id %></td>
    </tr>
    <tr>
      <td class="tg-yw4l" colspan="2">Qtd Diárias: <%= @ticket.rate %></td>
      <td class="tg-yw4l" colspan="2">Valor Total Diárias: <%= number_to_currency(@ticket.price, :unit => "R$ ", :separator => ",", :delimiter => ".")%></td>
    </tr>
  </table>
  <% end %>
</div>
<% else %>
  <%= render 'layouts/header' %>
<% end %>

