<div class="container">
  <h1>Motoristas</h1>
  <ul class="drivers">
    <% @drivers.each do |driver| %>
      <li>
        <%= link_to driver.name, driver %>
        <% if current_user.role_id == 4 %>
           | <%= link_to "Editar", edit_driver_path(driver) %> | 
          <%= link_to "Excluir", driver, method: :delete, data: { confirm: "Tem certeza?" } %>
        <% end %>
      </li>
    <% end %>
  </ul>
  
</div>