<script type="text/javascript">
function(){	
  $("#driver_cpf").mask("999.999.999-99")
;});

</script>
<div class="container">
  <h1>Criar Motorista</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3 well">
    <%= form_for(@driver) do |f| %>
      <%# render 'shared/error_messages', object: f.object %>
      <%= f.label :name, "Nome" %>
      <%= f.text_field :name,  { :class=> "form-control" } %>
           
      <%= f.label :cpf, "CPF" %>
      <%= f.text_field :cpf, { :class=> "form-control", :data => {:mask=> '999-999-9999'} }  %>
      
      <%= f.label :banco, "Banco" %>
      <%= f.text_field :banco, { :class=> "form-control" } %>
      
      <%= f.label :agencia, "Agência" %>
      <%= f.text_field :agencia, { :class=> "form-control" } %>
      
      <%= f.label :conta, "Conta" %>
      <%= f.text_field :conta, { :class=> "form-control" } %>
      
      <%= f.label :operation, "Tipo de Operação" %>
      <%= f.text_field :operation, { :class=> "form-control" } %>
      
      <%#= f.select :groups, Group.all.collect {|x| [x.name, x.id]}, {}, :multiple => true %>

      <%#= f.select :group_ids, Group.all.collect {|x| [x.name, x.id]}, {}, :multiple => true %>
          
      <%= f.submit  "Cadastrar Motorista",        class:  "margin-top btn-primary form-control" %>
    <% end %>
  </div>
</div>
</div>