<div class="container">
<h1>Motorista</h1>

<div class="row">
  Nome: <%= @driver.name %> CPF: <%= @driver.cpf %>
</div>

<div class="row">
  Banco: <%= @driver.banco %>
</div>
<div class="row">
  Agência: <%= @driver.agencia %> Conta: <%= @driver.conta %>
</div>
<div class="row">
  Tipo de operação: <%= @driver.operation %>

