@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

/* table */
h2 {
  text-align: center;
}

table caption {
	padding: .5em 0;
}

@media screen and (max-width: 767px) {
  table caption {
    border-bottom: 1px solid #ddd;
  }
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}

/* header */
#logo {
float: left;
margin-right: 10px;
font-size: 1.7em;
color: #fff;
text-transform: uppercase;
letter-spacing: -1px;
padding-top: 9px;
font-weight: bold;
}

#logo:hover {
color: #fff;
text-decoration: none;
}

/* form */

.margin-bottom {
    margin-bottom:15px;
}

.margin-top { margin-top:25px;}

.control-label{
    text-align: left;
}