
  <div class="container header">
    <% if logged_in? %>
      Bem vindo, <%= current_user.name %>!
    <% else %>
      
    <% end %>
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", tickets_path %></li>
        
         <% if logged_in? %>
         <li class="dropdown">
           <a href="#"	class="dropdown-toggle"	data-toggle="dropdown">
             Requisições<b class="caret"></b>
             </a>
              <ul	class="dropdown-menu">
               <li><%= link_to "Listar", tickets_path %></li>
               <li><%= link_to "Cadastrar", new_ticket_path %></li>
              </ul>
          
          <% if current_user.role_id == 4 %>
            <li class="dropdown">
              <a href="#"	class="dropdown-toggle"	data-toggle="dropdown">
                Cadastros<b class="caret"></b>
              </a>
              <ul	class="dropdown-menu">
                <li><%= link_to "Listar Usuários", users_path %></li>
                <li><%= link_to "Cadastrar Usuário", new_user_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Listar Unidades", departments_path %></li>
                <li><%= link_to "Cadastrar Unidade", new_department_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Listar Motoristas", drivers_path %></li>
                <li><%= link_to "Cadastrar Motorista", new_driver_path %></li>
              </ul>
               
            <% end %>
          
			    <li><%#= link_to "show_index_of_users", users_path %></li>
				  <li	class="dropdown">
				    <a href="#"	class="dropdown-toggle"	data-toggle="dropdown">
				      Minha Conta<b class="caret"></b>
					  </a>
				    <ul	class="dropdown-menu">
					    <li><%#=	link_to	"Perfil",	current_user	%></li>
						  
						  <li><%#= link_to('Edit registration', edit_user_registration_path) %></li>
						  <li><%= link_to "Editar Conta", edit_user_path(current_user) %></li>


						  <li	class="divider"></li>
						  <li>
                <%= link_to "Sair", logout_path, method: "delete" %>
						    <%#= link_to('Logout', destroy_user_session_path, method: :delete) %>
						  </li>
            </ul>
          </li>
        <% else	%>
        		  <%#= link_to('Login', new_user_session_path)  %>
        		  
              <li><%= link_to "Log in", login_path %></li>
			  <% end	%>
      </ul>
    </nav>
  </div>
