<!DOCTYPE html>
<html>
  <head>
    <title>Workspace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'screen', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_link_tag    'print', media: 'print', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_link_tag 'print', :media => 'print' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
    
  </head>

  <body>
    
    <%#= render 'layouts/messages' %>
    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |f| %>
	        <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'alert') %>
	     	  toastr['<%= type %>']('<%= f[1] %>');
	      <% end %>
      </script>
    <% end %>
    
    <%= yield %>
    
    

  </body>
</html>
